<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../docs/imagens/cofrinho.png" type="image/png">

    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'usuarios/styleCadastro.css' %}">

</head>
<body>
    <div class="entrada">
        <h2>Cadastro</h2>
        <h3>Crie sua conta</h3>

        <form method="post" action="{% url 'cadastro' %}">
            {% csrf_token %}
            <input type="text" name="first_name" placeholder="Nome ou apelido" required>
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit">Cadastrar</button>
        </form>

        <p>Já tem uma conta? <a href="index.html">Faça login</a></p>
    </div>
    <footer>
        <p>&copy; 2023 Stonks Viewer. Todos os direitos reservados.</p>
    </footer>
</body>
</html>