<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'usuarios/recuperar.css' %}">
    <link rel="icon" href="../docs/imagens/cofrinho.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StonksViewer</title>
</head>
<body>
    <div class="entrada">
        <h2>Recuperar Senha</h2>
        <p>Insira seu e-mail para receber as instruções de recuperação de senha.</p>
        <br>
        <form action="{% url 'recuperar' %}" method="POST">
            {% csrf_token %}
            <input type="email" name="email" placeholder="insira o email" required>
            <button type="submit">recuperar</button>
        </form>
        <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login</a></p>
    </div>

</body>
</html>